@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark;
}

* {
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
    max-width: 100vw;
    padding-top: 64px;
}

button svg {
    pointer-events: none;
}
