@import "tailwindcss";
@plugin "daisyui" {
  themes: "dark", "light";
}

* {
  box-sizing: border-box;
}

#root {
}

.container {
    min-height: 100vh;
    max-width: 100vw;
    padding: 10vh 1% 0 1%;
    /* display: flex; */
}   